<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>一般</key>
	<dict>
		<key>imageName</key>
		<string>type_big_0_38x38_</string>
		<key>statusCode</key>
		<integer>0</integer>
		<key>editable</key>
		<false/>
		<key>index</key>
		<integer>0</integer>
		<key>title</key>
		<string>一般</string>
	</dict>
	<key>工资</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n2_38x38_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
		<key>index</key>
		<integer>1</integer>
		<key>title</key>
		<string>工资</string>
	</dict>
	<key>报销</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n1_38x38_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
		<key>index</key>
		<integer>2</integer>
		<key>title</key>
		<string>报销</string>
	</dict>
	<key>红包</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n3_38x38_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
		<key>index</key>
		<integer>3</integer>
		<key>title</key>
		<string>红包</string>
	</dict>
	<key>兼职</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n4_38x38_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
		<key>index</key>
		<integer>4</integer>
		<key>title</key>
		<string>兼职</string>
	</dict>
	<key>奖金</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n5_38x38_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
		<key>index</key>
		<integer>5</integer>
		<key>title</key>
		<string>奖金</string>
	</dict>
	<key>投资</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n8_38x38_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
		<key>index</key>
		<integer>6</integer>
		<key>title</key>
		<string>投资</string>
	</dict>
	<key>编辑</key>
	<dict>
		<key>imageName</key>
		<string>type_add_48x48_</string>
		<key>statusCode</key>
		<integer>-1</integer>
		<key>editable</key>
		<false/>
		<key>index</key>
		<integer>7</integer>
		<key>title</key>
		<string>编辑</string>
	</dict>
	<key>自定义1</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n6_38x39_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
		<key>index</key>
		<integer>0</integer>
		<key>title</key>
		<string>自定义</string>
	</dict>
	<key>自定义2</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n7_38x39_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
		<key>index</key>
		<integer>1</integer>
		<key>title</key>
		<string>自定义</string>
	</dict>
	<key>自定义3</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n9_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
		<key>index</key>
		<integer>2</integer>
		<key>title</key>
		<string>自定义</string>
	</dict>
	<key>自定义4</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n10_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
		<key>index</key>
		<integer>3</integer>
		<key>title</key>
		<string>自定义</string>
	</dict>
	<key>自定义5</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n11_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
		<key>index</key>
		<integer>4</integer>
		<key>title</key>
		<string>自定义</string>
	</dict>
	<key>自定义6</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n12_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
		<key>index</key>
		<integer>5</integer>
		<key>title</key>
		<string>自定义</string>
	</dict>
	<key>自定义7</key>
	<dict>
		<key>imageName</key>
		<string>type_big_n15_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
		<key>index</key>
		<integer>6</integer>
		<key>title</key>
		<string>自定义</string>
	</dict>
</dict>
</plist>
