<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>编辑</key>
	<dict>
		<key>imageName</key>
		<string>type_add_48x48_</string>
		<key>statusCode</key>
		<integer>-1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>一般</key>
	<dict>
		<key>imageName</key>
		<string>type_big_1_48x48_</string>
		<key>statusCode</key>
		<integer>0</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>用餐</key>
	<dict>
		<key>imageName</key>
		<string>type_big_2_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>零食</key>
	<dict>
		<key>imageName</key>
		<string>type_big_3_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>交通</key>
	<dict>
		<key>imageName</key>
		<string>type_big_4_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>自定义0</key>
	<dict>
		<key>imageName</key>
		<string>type_big_5_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>自定义1</key>
	<dict>
		<key>imageName</key>
		<string>type_big_6_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>娱乐</key>
	<dict>
		<key>imageName</key>
		<string>type_big_7_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>住房</key>
	<dict>
		<key>imageName</key>
		<string>type_big_8_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>自定义2</key>
	<dict>
		<key>imageName</key>
		<string>type_big_9_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>自定义3</key>
	<dict>
		<key>imageName</key>
		<string>type_big_10_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>自定义4</key>
	<dict>
		<key>imageName</key>
		<string>type_big_11_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>自定义5</key>
	<dict>
		<key>imageName</key>
		<string>type_big_12_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>丽人</key>
	<dict>
		<key>imageName</key>
		<string>type_big_13_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>自定义6</key>
	<dict>
		<key>imageName</key>
		<string>type_big_14_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>自定义7</key>
	<dict>
		<key>imageName</key>
		<string>type_big_15_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>自定义8</key>
	<dict>
		<key>imageName</key>
		<string>type_big_16_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>自定义9</key>
	<dict>
		<key>imageName</key>
		<string>type_big_17_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>医疗</key>
	<dict>
		<key>imageName</key>
		<string>type_big_18_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>旅游</key>
	<dict>
		<key>imageName</key>
		<string>type_big_19_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>学习</key>
	<dict>
		<key>imageName</key>
		<string>type_big_20_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>自定义10</key>
	<dict>
		<key>imageName</key>
		<string>type_big_21_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>酒水</key>
	<dict>
		<key>imageName</key>
		<string>type_big_22_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>数码</key>
	<dict>
		<key>imageName</key>
		<string>type_big_23_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>人情</key>
	<dict>
		<key>imageName</key>
		<string>type_big_24_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>自定义11</key>
	<dict>
		<key>imageName</key>
		<string>type_big_25_48x48_</string>
		<key>statusCode</key>
		<integer>2</integer>
		<key>editable</key>
		<true/>
	</dict>
	<key>服饰</key>
	<dict>
		<key>imageName</key>
		<string>type_big_27_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>日用</key>
	<dict>
		<key>imageName</key>
		<string>type_big_28_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>食材</key>
	<dict>
		<key>imageName</key>
		<string>type_big_37_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
	<key>通讯</key>
	<dict>
		<key>imageName</key>
		<string>type_big_35_48x48_</string>
		<key>statusCode</key>
		<integer>1</integer>
		<key>editable</key>
		<false/>
	</dict>
</dict>
</plist>
